{% extends '_layout.html' %}

{% block title %}Virtualvenue's Blog{% endblock %}
{% block page_class %} page-about {% endblock %}
{% block content %}
<section id="posts" class="posts-expand">
    <h2 class="post-title">关于作者</h2>
    <p>
        这是Virtualvenue的个人站点, 一个初入IT的机械男：北方工业大学毕业，没日没夜从事自动化设备调试及编程4个月，完成项目后寻找自己真正的方向。
    </p>
    <p>
     我的电子邮箱是: 470434839@qq.com.
    </p>
     <h2 class="post-title">关于博客</h2>
    <p>
        博客基于Django搭建而成，页面使用的Next模版，Python源码来自<a href="https://github.com/lzjun567/django_blog">Foofish</a>
    </p>
    <p>
        博客的初衷是想对自己近日的学习来一个综合性的训练，在人生的“我是谁？我在哪？我能干什么？”的盲域找到可能前进的方向。我将在次更新一些我在学习Python，Django，Web开发，等过程中遇到问题及其解决方法，记录自己的成长。
    </p>
<h2 class="post-title">前路慢慢</h2>
    <p>
        作为一个刚转型的机械男，对IT这个行业一无所知。希望可以有北京的大神/公司带我进入这个对外行来说比较神秘的行业。无惧险阻，只求一条前进的路！有意请通过邮箱联系
    </p>

</section>
{% endblock %}

{% block sidebar %}
{% include '_macro/sidebar.html' %}
{% endblock %}

